<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DataTables Example</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- DataTables JS -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <!-- Bootstrap JS (Optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>


    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable({
                "pagingType": "full_numbers",
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "pageLength": 5
            });
        });
    </script>

</head>
<body>
<div th:insert="~{header :: header}"></div>
<div class="container">

    <form th:action="@{/listBooking/deleteCheckBox}" method="post">
        <table th:if="${bookingList != null}" class="display" style="margin-top:auto;" id="example">
            <thead>
            <tr>
                <th>STT</th>
                <th>User Name</th>
                <th>Booking Date</th>
                <th>Check in Date</th>
                <th>Check Out Date</th>
                <th>Room Name</th>
                <th>Total Price</th>
                <th>Describe</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody id="result">
            <tr th:each="booking, status: ${bookingList}" th:object="${booking}">
                <td th:text="${status.index + 1}"></td>
                <td th:text="*{user.fullName}"></td>
                <td th:text="*{bookingDate}"></td>
                <td th:text="*{checkInDate}"></td>
                <td th:text="*{checkOutDate}"></td>
                <td th:text="*{room.roomName}"></td>
                <td th:text="*{totalPrice}"></td>
                <td th:text="*{describe}"></td>
                <td>
                    <input type="checkbox" th:name="idChecked" th:value="${booking.getBookingId()}"/>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="8"></td>
                <td>
                    <button type="submit" name='delete' value="delete" class='btn btn-secondary btn-sm' data-toggle="tooltip" data-placement="right" th:attr="data-confirm='Bạn có muốn xóa'" onclick="return confirmDelete(this.getAttribute('data-confirm'));">
                        Submit
                    </button>
                </td>
            </tr>
            </tfoot>
        </table>
    </form>





</div>

</body>
<script>

    function confirmDelete(message) {
        return confirm(message);
    }
</script>
</html>
